body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f; /* Dark background color */
    color: #fff; /* White text color */
  }
  
  .payment-details-page {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #333; /* Darker background color */
  }
  
  h1 {
    text-align: center;
    color: #77B0AA; /* Nando's orange color */
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #fff; /* White text color */
  }
  
  input[type="text"], input[type="tel"] {
    width: calc(100% - 22px); /* Adjusted width */
    padding: 10px;
    border: 1px solid #fff; /* White border */
    border-radius: 5px;
    background-color: #1f1f1f; /* Dark background color */
    color: #fff; /* White text color */
  }
  
  input[type="text"]:focus, input[type="tel"]:focus {
    outline: none;
    border-color: #77B0AA; /* Nando's orange color */
  }
  
  .pay-button {
    width: 100%;
    padding: 10px;
    background-color: #77B0AA; /* Nando's orange color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pay-button:hover {
    background-color: #003C43; /* Darker shade of Nando's orange color */
  }
  