body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #77B0AA; /* Light background color */
}

.order-status {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff; /* White background color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.order-status h1 {
  text-align: center;
}

.order-details {
  margin-top: 20px;
}

.order-details p {
  margin: 10px 0;
}

.order-details p span {
  font-weight: bold;
}
.payment-details-page {
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-details-page h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pay-button {
  width: 100%;
  padding: 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between; /* Align items to the right and left */
  align-items: center; /* Vertically center the items */
  padding: 10px; /* Adjust padding as needed */
  background-color: #333; /* Sample background color */
  color: #fff; /* Sample text color */
}

.action-buttons {
  display: flex;
}

.action-button {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 8px 16px;
  margin-left: 4px; /* Add margin between buttons */
  cursor: pointer;
}

.action-button:hover {
  background-color: #ddd;
}